<%= form_tag destroy_multiple_dictionaries_path, method: :delete do %>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">単語</th>
      <th scope="col">意味</th>
      <th scope="col">例文</th>
      <th scope="col" width="5%"></th>
      <th scope="col"><%= submit_tag "一括消去",class: "btn btn-primary example-button" %></th>
    </tr>
  </thead>
  <tbody>
    <% @user_dictionary.each do |word|%>
    <tr>
      <td><%= word.meaning.word.english_word %></td>
      <td><%= word.meaning.meaning %></td>

      <td>
        <% word.meaning.examples.first(1).each do |meaning_example| %>
          <%= meaning_example.sentence.capitalize  %><br>
          <%= meaning_example.translation %><br>
        <% end %>
      </td>
      <td><%= link_to "一覧", meaning_examples_meaning_path(word.meaning.id) , class: "btn btn-primary" %></td>
      <td><%= check_box_tag "deletes[#{ word.id }]", word.id  %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>