
<div class="container">
<%= form_tag destroy_multiple_dictionaries_path, method: :delete do %>
<table class="table">
  <thead>
    <tr>
      <th scope="col">単語</th>
      <th scope="col">意味</th>
      <th scope="col"><%= submit_tag "一括消去",class: "btn btn-primary example-button" %></th>
    </tr>
  </thead>
  <tbody>
    <% @user_dictionary.each do |word|%>
    <tr>
      <td><%= word.meaning.word.english_word %></td>
      <td><%= word.meaning.meaning %></td>
      <td><%= check_box_tag "deletes[#{ word.id }]", word.id  %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>
</div>