<% @part = [1,2,3,4,5] %>
<% @level = ["begginer","novice","advanced beginner","intermediate","advanced intermediate","advanced","proficient","expert","scholar"] %>
<% @toeics = [400,600,800] %>



<div class="col-md-2 " id="sidebar">
    <div class=" list-group special  text-md-left">
    <a href="#menu1" class="text-center top-none list-group-item list-group-item-action d-inline-block collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false"><span class="d-none d-md-inline">LEVEL</span><span class="badge badge-secondary ml-2 align-center"><%= Word.count %></span></a>
    <div class="text-center" id="menu1">
        <% @level.each.with_index(1) do |level,i| %>
        <a href="#menuSub<%= i %>" class=" top-none list-group-item list-group-item-action" data-toggle="collapse" aria-expanded="false"><%= level  %><i class="fa fa-chevron-down" aria-hidden="true"></i></a>
        <div class="collapse" id="menuSub<%= i %>">
            <a href="#" class="top-none list-group-item list-group-item-action" data-parent="menu">
            <input type="checkbox" class="d-inline-block" />
            すべて
            </a>
            <% @part.each do |part| %>
            <a href="#" class="top-none list-group-item list-group-item-action" data-parent="menu">
            <input type="checkbox" class="d-inline-block" />
            part<%= part %>
            </a>
             <% end %>
        </div>
        <% end %>
    </div>
    <a href="#menu2" class="text-center list-group-item  list-group-item-action d-inline-block collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false"><span class="d-none d-md-inline">TOEIC</span><span class="badge badge-secondary ml-2 align-center">3</span></a>
    <div class="" id="menu2">
    <% @toeics.each do |toeic| %>
        <a href="#" class="top-none text-center list-group-item list-group-item-action" data-parent="#menu2"><%= toeic %><i class="fa fa-chevron-down" aria-hidden="true"></i></a>
    <% end %>
    </div>
    </div>
</div>






