
<table class="table table-hover table-sm">
 <%= simple_form_for(@dictionary) do |f|  %>
  <thead>
    <tr>
      <% if current_user.has_roles?(:admin) %>
      <th>#</th>
      <th>#</th>
      <% end %>
      <th width="12%">英語</th>
      <th width="12%">意味</th>
      <th width="5%">品詞</th>
      <th width="30%">例文</th>
      <th class="example-index" width="5%"></th>
      <th class="create-example" width="5%"></th>
      <% unless current_user.is_a?(GuestUser) %>
      <th class="add-dictionary" width="5%"></th>
      <th class="add-dictionary" width="5%"><%= f.submit '追加', :class => 'btn btn-primary'  %></th>
      <% end %>
      <% if current_user.has_roles?(:admin) %>
      <th>toeic</th>
      <th>英検</th>
       <% end %>
    </tr>
  </thead>

  <tbody>
    <% @words.each do |word| %>
    <% word.meanings.each do |meaning| %>
      <tr>
        <% if current_user.has_roles?(:admin) %>
      　<td><%= meaning.word.id %></td>
        <td><%= meaning.id %></td>
        <% end %>
        <td width="12%"><%= meaning.word.english_word %></td>
        <td width="12%"><%= meaning.meaning %></td>
        <td width="5%"><%= meaning.parse %></td>
        <td width="25%">
        <% meaning.examples.first(1).each do |meaning_example| %>
        <%= meaning_example.sentence.capitalize  %><br>
        <%= meaning_example.translation %><br>
        <% end %>
        </td>
        <td  width="5%"><%= link_to "一覧", meaning_examples_meaning_path(meaning.id) , class: "btn btn-primary" %></td>
        <td width="5%">
          <%= example_creation_button_toggle_helper meaning %>
        </td>
        <% unless current_user.is_a?(GuestUser) %>
        <%= simple_form_for(@dictionary) do |f|  %>
        <td width="3%">
          <%if Dictionary.where(user: current_user).where(meaning_id: meaning.id).present? %>
          <i class="fa fa-book fa-book-existed" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="追加済み">
          <% else %>
          <div style="display: inline-block;"><%= f.input :meaning_id, :as => :hidden, :input_html => { :value => meaning.id } %>
          <%= button_tag(type: 'submit', class: "btn btn-link") do %><i class="fa fa-book" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="単語帳に追加"></i><% end %>
          <% end %></div>
        </td>
        <% end %>
        <% end %>

        <td width="5%"><%= f.check_box :meaning_id,collection: meaning.id, class:"tag-chack-box" %>

        <% if current_user.has_roles?(:admin) %>
        <td><%= meaning.toeic %></td>
        <td><%= meaning.toeic %></td>
        <td><%= meaning.eiken %></td>
        <td><%= link_to 'Edit', edit_meaning_path(meaning.id) %></td>
        <td><%= link_to 'Destroy', meaning_path(meaning.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
         </td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
<% end %>
</table>

