
<%= render "shared/side_bar" %>

<div class="col-md-9">

 <table class="table table-hover">
 <%= form_tag(create_multiple_dictionaries_path, method: 'post')  do  %>
  <thead >
    <tr>
      <th>#</th>
      <th>#</th>
      <th>英語</th>
      <th>意味</th>
      <th>品詞</th>
      <th>例文</th>
      <th>例文一覧</th>
      <th>例文を作る</th>
      <th colspan="3"></th>
      <th><%= submit_tag "単語帳に追加", class: "btn btn-primary" %></th>
    </tr>
  </thead>

  <tbody>
    <% @meanings.each do |meaning| %>
      <tr>
      　<td><%= meaning.word.id %></td>
        <td><%= meaning.id %></td>
        <td><%= meaning.word.english_word %></td>
        <td><%= meaning.meaning %></td>
        <td><%= meaning.parse %></td>
        <td>
        <% meaning.examples.first(1).each do |meaning_example| %>
        <%= meaning_example.sentence %><br>
        <%= meaning_example.translation %><br>
        <% end %>
        </td>
        <td><%= link_to "一覧", meaning_path(meaning.id) , class: "btn-sm btn-primary" %></td>
        <td><%= link_to "例文作る" , meaning_path(meaning.id), class: "btn-sm btn-warning text-white" %></td>
        <td><%= meaning.toeic %></td>
        <td><%= meaning.eiken %></td>
        <td><%= meaning.toeic %></td>
         <td><%= check_box_tag 'dictionary[meaning_id][]', meaning.id %></td>
      </tr>
    <% end %>
  </tbody>
<% end %>
</table>

</div>
