
<%= form_tag root_path, method: :get do %>
<%= hidden_field_tag :level, params[:level] %>
<div id="main_root" class="root-section">

  <div class="side-bar_root">
  <%= render "shared/side_bar" %>
  </div>

  <main class="main-content_root">
    <div class="search-root">
      <%= render "shared/root-search" %>
    </div>
<% end %>
    <section class="main-content_root__table">
      <%= render "shared/table" %>
    </section>
  </main>

</div>

