
<%= form_tag root_path, method: :get, class: "form-tag" do %>
<div id="main_root" class="root-section">

  <div class="side-bar_root">
  <%= render "shared/side_bar" %>
  </div>

  <main class="main-content_root">

    <form class="search-root">
      <%= text_field_tag :english_word, params[:english_word], placeholder: "単語", class: "form-control input-sm" %>
      <i class="fa fa-times" aria-hidden="true"></i>
      <%= text_field_tag :meaning, params[:meaning], placeholder: "意味", class: "form-control input-sm" %>
      <%= submit_tag "Search", name: nil, class: "btn btn-primary" %>
    </form>
<% end %>
    <section class="table-content_root">
      <%= render "shared/table" %>
    </section>
  </main>

</div>

