<%= form_with(model: example, local: true) do |form| %>
  <% if example.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(example.errors.count, "error") %> prohibited this example from being saved:</h2>

      <ul>
      <% example.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :sentence %>
    <%= form.text_area :sentence, id: :example_sentence %>
  </div>

  <div class="field">
    <%= form.label :translation %>
    <%= form.text_area :translation, id: :example_translation %>
  </div>

  <div class="field">
    <%= form.label :meaning_id %>
    <%= form.text_field :meaning_id, id: :example_meaning_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
