<div class="container">
<%=  simple_form_for @meaning ,url: word_meanings_path, method: :post  do |f| %>

  <%= @word.english_word %>

  <div class="field">
    <%= f.input :meaning %>
  </div>
  <div class="field">
    <%= f.input :parse %>
  </div>
  <div class="field">
    <%= f.input :level %>
  </div>

  <div class="field">
    <%= f.input :eiken %>
  </div>
  <div class="field">
    <%= f.input :toeic %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>
