<p id="notice"><%= notice %></p>



<br>

<h1>Meanings</h1>

<table class="table table-hover">
 <%= form_tag(create_multiple_dictionaries_path, method: 'post')  do  %>
  <thead >
    <tr>
      <th>#</th>
      <th>英語</th>
      <th>意味</th>
      <th>品詞</th>
      <th>例文</th>
      <th>例文一覧</th>
      <th>toeic</th>
      <th>英検</th>
      <th>edit</th>
      <th colspan="3"></th>
      <th><%= submit_tag "単語帳に追加" %></th>
    </tr>
  </thead>

  <tbody>
    <% @meanings.each do |meaning| %>
      <tr>
        <td><%= meaning.id %></td>
        <td><%= meaning.word.english_word %></td>
        <td><%= meaning.meaning %></td>
        <td><%= meaning.parse %></td>
        <td>
        <% meaning.examples.first(3).each do |meaning_example| %>
        <%= meaning_example.sentence %><br>
        <%= meaning_example.translation %><br>
        <% end %>
        </td>
        <td><%= meaning.toeic %></td>
        <td><%= meaning.eiken %></td>
        <td><%= meaning.toeic %></td>
        <td><%= link_to 'Show',meaning_path(meaning.id) %></td>
        <td><%= link_to 'Edit', edit_meaning_path(meaning.id) %></td>
        <td><%= link_to 'Destroy', meaning_path(meaning), method: :delete, data: { confirm: 'Are you sure?' } %></td>
         <td><%= check_box_tag 'dictionary[meaning_id][]', meaning.id %></td>
      </tr>
    <% end %>
  </tbody>
<% end %>
</table>


<%= link_to 'New Meaning', new_meaning_path %>
