<p id="notice"><%= notice %></p>
<div class="mx-auto container-90">
  <p>
  <strong>Meaning:</strong>
  <%= @meaning.meaning %>
</p>
<table class="table table-hover">
 <%= form_tag(create_multiple_dictionaries_path, method: 'post')  do  %>
  <thead >
    <tr>
      <th>例文</th>
      <th>意味</th>
      <th colspan="3"></th>
      <th><%= submit_tag "単語帳に追加", class: "btn btn-primary" %></th>
    </tr>
  </thead>
  <tbody>
    <% @examples.each do |example| %>
      <tr>
        <td><%= example.sentence %></td>
        <td><%= example.translation %></td>

        <%= simple_form_for(@like) do |f|  %>
        <td>
          <%= f.input :example_id, :as => :hidden, :input_html => { :value => example.id } %>
          <%= button_tag(type: 'submit', class: "btn btn-link") do %><i class="fa fa-thumbs-up" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="ナイス"></i><% end %>
        </td>
        <% end %>
        <td><%= Like.where(example_id: example.id).count %></td>


      </tr>
    <% end %>
  </tbody>
<% end %>
</table>


<%= link_to 'Edit', edit_meaning_path(@meaning) %> |
<%= link_to 'Back', meanings_path %>

</div>
