<p id="notice"><%= notice %></p>
<div class="mx-auto container-90"
<p>
  <strong>Meaning:</strong>
  <%= @meaning.meaning %>
</p>

<% @examples.each do |example| %>
<div class="row mb-1">
  <%= example.sentence %>
  <%= example.translation %>
  <%= link_to 'Edit', edit_example_path(example.id) %>
</div>
<% end %>

<%= link_to 'Edit', edit_meaning_path(@meaning) %> |
<%= link_to 'Back', meanings_path %>
