<!DOCTYPE html>
<html>
  <head>
    <title>FlashCard</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if current_user.has_roles?(:admin) %>
    <%= render "shared/admin_nav" %>
  <% end %>
    <%= render "shared/nav-bar" %>
    <%= render "shared/sub_nav_bar" %>
    <% if flash[:notice] %>
      <div class="alert alert-success alert-dismissible fadeshow">
      <button class="close" data-dismiss="alert" type="button">
        <span>&times;</span>
      </button>
        <%= flash[:notice] %>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="alert alert-danger alert-dismissible fadeshow">
      <button class="close" data-dismiss="alert" type="button">
        <span>&times;</span>
      </button>
        <%= flash[:alert] %>
      </div>
    <% end %>
    <div class="row">
    <%= yield %>
    </div>

  <footer id="footer" class="footer bg-dark text-white">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <div class="py-4">
            <h1 class="h3">FlashCard.com</h1>
            <p>Copyright &copy; 2017 </p>
            <button class="btn btn-primary" data-toggle="modal" data-target="#contactModal">Contact Us</button>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <div class="modal fade text-dark" id="contactModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="contactModalTitle">Contact Us</h5>
          <button class="close" data-dismiss="modal"><span>&times;</span></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control">
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="text" class="form-control">
            </div>
            <div class="form-group">
              <label for="name">Message</label>
              <textarea class="form-control"></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary btn-block">Submit</button>
        </div>
      </div>
    </div>
  </div>




  </body>
</html>
