<!DOCTYPE html>
<html>
  <head>
    <title>FlashCard</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user.has_roles?(:admin) %>
    <%= render "shared/admin_nav" %>
    <% end %>
    <%= render "shared/nav-bar" %>
    <%= render "shared/sub_nav_bar" %>
    <%= render "shared/notification_bar.html.erb" %>
    <%= yield %>


  <section id="alphabet" class="row bg-light">
  <div class="container py-2">
    <%
      ary = []
      ('a'..'z').each do |i|
        ary.push(i.to_s)
      end %>
    <% ary.each do |a| %>
    <div class="float-left px-1">
      <button type="button" class="btn btn-primary circle-btn">
      <%= a %>
      </button>
    </div>
    <% end %>
  </div>
  </section>


  <%= render "shared/main_footer" %>




  </body>
</html>
